.full-armament-page {
  width: 98vw;
  height: 100vh;
  margin-top: 15vh;
  margin-left: 4vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 80px;
}

.armament-card {
  border-radius: 3vw;
  height: 265px;
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #6F6F6F;
  background: #222;
  backdrop-filter: blur(4px);
}

.armament-image {
  margin-top: 13px;
  height: 234px;
  width: 260px;
  border-radius: 4px;
  border: 1px solid #464646;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 50);
}

.weapons-name {
  margin-top: 24px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  width: 20vw;
  font-size: 24px;
  font-weight: 400;
  color: rgb(232, 232, 232);
  text-decoration: inherit;
}

.weapons-name:hover {
  color: white;
}