.full-armament-page-2{
  width: 98vw;
  height: 85vh;
  margin-top: 10vh;
}
  .armament-info-buttons {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 22px;
  }
  .armament-info-buttons div {
    display: flex;
    flex-direction: row;

    margin-left: 24px;
    gap: 24px;
  }
  .prevnext {
    cursor: pointer;
    background-color:#242424;
    border: 2px solid white ;
    color: white;
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    font-size: 20px;
    min-height: 40px;
    min-width: 140px;
  }
  .buy  {
    cursor: pointer;
    border: 2px solid black;
    color: black;
    border-radius: 8px;
    margin-right: 100px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    font-size: 20px;
    min-height: 40px;
    min-width: 140px
  }