.user-page {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .user-card {
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 2vw;
    width: 96vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    gap: 200px;
  }
  .user-name {
    width: 80px;
  }
  .user-class {
    width: 150px;
  }
  .user-faction {
    width: 80px;
  }
  .user-img {
    margin-left: 10px;
  }
  .user-lvl {
    width: 50px;
  }
  .delete-user{
    cursor: pointer;
    color: white;
    background-color: black;
    margin-right: 10px;
    border-radius: 10px;
  }
  .form-link {
    margin-left: 70vw;
    margin-top: 50px;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 10px ;
    cursor: pointer;
  }