  .user-page {
    height: 77vh;
  }

  .user-table {
    width: 50vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .h3-user {
    min-width: 170px;
    text-align: center;
  }

  .h3-faction {
    width: 80px;
  }

  .h3-type {
    width: 156px;
  }

  .h3-lvl {
    width: 50px;
  }

  .user-card-content {
    height: 60vh;
    overflow: auto;
  }

  .user-card {
    background-color: rgb(28, 28, 28);
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 50px;
    margin-left: 2vw;
    width: 95vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .user-card div {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .user-card div div {
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .user-name {
    width: 80px;
    font-size: 14px;
  }

  .user-class {
    width: 156px;
    font-size: 14px;
  }

  .user-faction {
    width: 80px;
    font-size: 14px;
  }

  .user-img {
    margin-left: 10px;
    width: 40px;
  }

  .user-lvl {
    width: 50px;
  }

  .delete-user {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
  .edit-user {
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }

  .form-link {
    margin-left: 2vw;
    margin-top: 50px;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
  }

  @media (max-width: 680px) {
    .user-table {
      width: 68vw;
    }
    .user-faction {
      display: none;
    }

    .user-name {
      margin: 0 10px;
    }

    .user-lvl {
      margin: 0 10px;
    } 

    .h3-faction {
      display: none;
      font-size: 14px;
    }

    .h3-lvl {
      margin: 0 10px;
      font-size: 14px;
    }
    .h3-user {
     min-width: 135px;
margin: 0 10px;
font-size: 14px;
    }
    .h3-type {
      font-size: 14px;
    }
    .user-card div {
      width: 68vw;
    }
  }