.races-button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(28, 28, 28);
  color: grey;
  cursor: pointer;
}

.NavBar {
  font-family: "Chakra Petch", sans-serif;
  font-style: normal;
  height: 10vh;
  width: 100vw;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  gap: 96px;
  margin-left: 2vw;
}

.hidden {
  display: flex;
  flex-direction: row;
  gap: 96px;
  margin-left: 2vw;
}
.hidden2{
  display: flex;
  flex-direction: row;
}
.my-logo {
  height: 60px;
  margin-right: 2vw;
}

.NavBar h2 {
  margin: 8px 0;
  font-size: 24px;
  font-weight: 400;
}

.main-info h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  margin-left: 2vw;
  margin-bottom: 0;
  height: auto;
}

.main-info p {
  width: 95vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  margin-left: 2vw;
  height: auto;
  padding-bottom: 36px;
}

.Footer {

  position: relative;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  background-color: rgb(28, 28, 28);
  text-align: start;
  display: flex;
  flex-direction: column;
}

.footer-icons {
  margin-left: 4vw;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.Footer h3 {
  margin-left: 4vw;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

.icons-footer {
  width: 50px;
  cursor: pointer;
}

.races-menu {
  display: none;
}

.menu-displayed {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  top: 10vh;
  left: 187px;
  background-color: rgb(74, 73, 73);
  box-shadow: -8px 5px 15px -5px rgba(0, 0, 0, 0.6);
  animation-duration: 0.5s;
  animation-name: slidein;
  z-index: 1;
}

@keyframes slidein {
  from {
    height: 0;
    width: 174px;
  }

  to {
    height: 168px;
    width: 174px;
  }
}

.races {
  font-weight: 400;
  font-size: 24px;
  padding: 0 48px 0 16px;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: displaying;
}

@keyframes displaying {
  from {
    color: rgb(239, 220, 197);
  }

  to {
    color: grey;
  }
}

.selected {
  text-shadow: 1px 0px 3px white;
  color: #fff;
  border-bottom: rgba(255, 255, 255, 0.639) solid 2px;
  padding-bottom: 5px;
}

.hamburguer-menu {
  width: 60px;
  height: 10vh;
  display: none;
}

@media (max-width: 680px) {

  .hamburguer-menu {
    margin-left: 2vw;
    width: 6vh;
    height: 6vh;
    display: block;
  }

  .navbar-menu {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    gap: 25px;
    background-color: rgb(74, 73, 73);
    padding-left: 2vw;
    z-index: 1;
    margin-left: 0;
    animation-duration: 0.5s;
    animation-name: slidein;
  }

  .menu-displayed {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 160px;
    left: 0;
    width: 100vw;
    background-color: rgb(74, 73, 73);
    box-shadow: -8px 5px 15px -5px rgba(0, 0, 0, 0.6);
    animation-duration: 0.5s;
    animation-name: slidein;
    z-index: 1;
  }

  .hidden {
    display: none;
  }
  .hidden2{
display: none;
  }

  @keyframes slidein {
    from {
      width: 0;
    }

    to {
      width: 100vw;
    }
  }

  .races-button {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(74, 73, 73);
    color: grey;
    cursor: pointer;
  }

  .races-button-big {
    margin-bottom: 200px;
  }

  .main-info {
    width: 100VW;
  }




}