
.races-button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(28, 28, 28) ;
  color: grey;
  cursor: pointer;
}
.NavBar {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-left: 3vw;
}
.my-logo {
  margin-right: 1vw;
}
.NavBar h2 {
  font-size: 3vh;
}
.main-info h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vh;
  margin-left: 8vw;
  margin-top: 15vh;
}
.main-info p {
  width: 95vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 3vh;
  margin-left: 2vw;
}
.Footer {
  width: 100vw;
  height: 20vh;
  background-color:rgb(28, 28, 28);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  margin-left: 15vw;
  gap: 80px;
}
.icons-footer {
  width: 3vw;
  cursor: pointer;
}
.races-menu {
  display: none;
}
.menu-displayed {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  top: 10vh;
  left: 155px;
  height: 20%;
  width: 13%;
  background-color: rgb(74, 73, 73);
  box-shadow: -8px 5px 15px -5px rgba(0,0,0,0.6);
  animation-duration: 0.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    height: 0;
    width: 13%;
  }

  to {
    height: 20vh;
    width: 13%;
  }
}
.races {
  font-size: 2.5vh;
  margin-left: 1vw;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: displaying;
}
@keyframes displaying {
  from {
    color: rgb(239, 220, 197);
  }
  to {
    color: grey;
  }
}
